/* website main font */
@font-face {
    font-family: 'MainFont';
    src: url('../fonts/chomsky/Chomsky.woff2') format('woff2'), 
         url('../fonts/chomsky/Chomsky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MainFont', sans-serif;
}



/* gradient background + effect */
.background {
    /* background-image: url('../images/experiment-3.png'); */
    background-image: url('../images/website-background-experiment-4.png');
    background-position: center;
    /* background-size: cover; */
    /* position: absolute; */
    /* unsure why i added ^*/
}

.white-shadow {
    background-image: linear-gradient(to bottom, #ffffff59, rgba(0, 0, 0, 0));
}



/* nav decoration */
nav .nav-link {
    color: rgb(255, 255, 255) !important;
}

nav ul {
    display: flex;
    justify-content: space-evenly !important;
    font-size: xx-large;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    /* below: pefectly centering the logo */
    margin-left: -0.7%;
}



/* footer */
footer {
    color: rgba(255, 255, 255, 0.708);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}




/* home */
#home-img {
    display: flex;
    justify-content: center;
    margin-top: -3%;
    /* below: positioning the img better */
    margin-left: 4%;
}



/* socials */



/* gallery */
.art-content-background {
    background-color: #2c3048;
    width: 91vw;
    margin: auto;
}

.gallery-display-size {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90vw;
    margin: auto;
    /* margin-top: %; */
}

.img-size-fix {

}

.art-title {
    visibility: hidden;
}

.art-title:hover {
    visibility: visible;
}


/* about */
#about {
    color: rgb(255, 255, 255);
}

#about-portrait {
    width: 40vw;
}


/* contact */