/* roots */
:root {
    --text: rgb(234, 232, 226);
    --footer-text: rgba(255, 255, 255, 0.708);
}



/* website main font */
@font-face {
    font-family: 'MainFont';
    src: url('../fonts/chomsky/Chomsky.woff2') format('woff2'), 
         url('../fonts/chomsky/Chomsky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'MainFont', sans-serif;
}



/* gradient background + effect */
.background {
    /* background-image: url('../images/experiment-3.png'); */
    background-image: url('../images/website-background-experiment-4.png');
    background-position: center;
    /* background-size: cover; */
    /* position: absolute; */
    /* unsure why i added ^*/
}
.white-shadow {
    background-image: linear-gradient(to bottom, #ffffff59, rgba(0, 0, 0, 0));
}



/* nav decoration */
nav .nav-link {
    color: var(--text) !important;
}
nav ul {
    display: flex;
    justify-content: space-evenly !important;
    font-size: xx-large;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    /* BELOW: pefectly centering the logo */
    margin-left: -0.7%;
}



/* footer */
.social-links-container {
    color: var(--footer-text);
}

/* list */
.social-links-container ul {
    list-style: none;
    margin-left: 11.5%;
}

/* instagram */
#footer-instagram a p, i {
    display: inline;
}
#footer-instagram h5, a {
    display: inline;
    color: var(--footer-text);
    text-decoration: none;
}

/* email */
#footer-instagram a p, i {
    display: inline;
}
#footer-email h5, a {
    display: inline;
    color: var(--footer-text);
    text-decoration: none;
}

/* phone */
#footer-phone a p, i {
    display: inline;
}
#footer-phone h5, p , i {
    display: inline;
}

/* address */
#address {
    width: 15%;
}

/* footer {
    color: var(--text);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
} */

/* footer links highlight */
.social-links-container a:hover {
    text-decoration: underline;
}
.social-links div {
    text-decoration: none;
}



/* home */
#home-img {
    display: flex;
    justify-content: center;
    margin-top: -3%;
    /* below: positioning the img better */
    margin-left: 4%;
}



/* socials */



/* gallery */
#gallery h2 {
    color: var(--text);
}
#ravenwood-manor-cover {
    width: 900px;
}
#broken-mirror,
#lost-book-cover {
    width: 500px;
}
#woods-illustration {
    width: 700px;
}
.art-content-background {
    background-color: #2c3048;
    width: 72.5vw;
    margin: auto;
}
.gallery-display-size {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90vw;
    margin: auto;
}
.img-size-fix {
    width: 450px;
}



/* about */
#about {
    color: var(--text);
}
#about-portrait {
    width: 20vw;
}
.about-text {
    width: 30vw;
}
.about-text-p {
    
}



/* contact */
.contact-buttons {
    width: 500px;
    background: radial-gradient(circle, #cbcac6e3, #2c2c41);
}
.contact-buttons button {
    background-color: rgb(245, 244, 239);
    width: 300px;
}